.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

#delete-form{
    display: inline;
}
.delete-form{
    display: inline;
}

.navbar-default .navbar-nav>li>a{
    margin-right: 20px;
}